body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }   

.dark-blue{

	background-color: #0c1a2f;
}
.nav-wrapper img {

	height: 60px;
	padding-right: 15px;
}

.transparency{

	opacity: 0.8;
}
.positioning {
	    position: absolute;
    bottom: 0;
}
.carousel img {
	border-radius: 50%;
}
.carousel {
	display: inline-block;
	position: absolute;
	top: 25%;
}
.planetimg {
	height: 210px;
    width: 200px;
    float: right;
    box-sizing: border-box;
    border-radius: 25px;
    padding: 10px;
    padding-right: 0;

}
.main-content {
	 background-image: url("../img/bg.jpg");
	 height: 100vh;
	 background-size: cover;
}

.plmain h1 {

	text-align: center;
	color: white;
}
/*.plmain {
position: absolute;
    left: 50%;
}
*/.pl1
{
background-color: rgba(255,255,255, 0.6);
margin: auto;
width: 90%;
border-radius: 15px;
padding: 10px;

}
.pl1 p {
	margin: 0;
	text-align: justify;
}

.pl1 p::first-letter {
	color: blue;
}
/*.plbody	{
	background-image: url(https://upload.wikimedia.org/wikipedia/commons/0/02/OSIRIS_Mars_true_color.jpg);
	background-size: cover;
}
*/
.team-block h2{

text-align: center;
color: white;
font-weight: normal;
}

.line {

	width: 100px;
	height: 1px;
	background-color: white;
	margin: 0 auto;
}



.team-block ul {

	margin: 20px auto;
    text-align: center;
    padding: 0;
}

.team-block li {
   list-style-type: none;
   display: inline-block; 
   margin: 0 15px;
   width: 200px;    
}

.team-block img {

	width: 200px;
	height: 200px;
	border-radius: 100px;
}

.team-name {

	color: #fff;
	font-weight: bold;
}

.team-info {

	color: #fff;
	font-style: italic;
}

.blankspace {

	margin-top: 100px;
}

/*.opacity {
  background: #fff;

  opacity: .6;
  z-index: -10;
  font-size: 32px;
}*/